<!-- Footer Start -->
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="row">
                  <div class="col-md-6">
                      <div class="footer-contact">
                          <h2>Ons adres</h2>
                          <p><i class="fas fa-map-marker-alt"></i>Restaurantstraat 8, 1825KV, NL</p>
                          <p><i class="fas fa-phone-alt"></i>+012 345 67890</p>
                          <p><i class="fas fa-envelope"></i>info@example.com</p>
                          <div class="footer-social">
                              <a href=""><i class="fab fa-twitter"></i></a>
                              <a href=""><i class="fab fa-facebook-f"></i></a>
                              <a href=""><i class="fab fa-youtube"></i></a>
                              <a href=""><i class="fab fa-instagram"></i></a>
                              <a href=""><i class="fab fa-linkedin-in"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="footer-link">
                          <h2>Snelle links</h2>
                          <a href="">Home</a>
                          <a href="">Privacybeleid</a>
                          <a href="">Cookies</a>
                          <a href="">Help</a>
                          <a href="">Restaurants</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5">
              <div class="footer-newsletter">
                  <h2>Nieuwsbrief</h2>
                  <p>
                    Met video's kunt u uw boodschap krachtig overbrengen. Wanneer u op Onlinevideo klikt, kunt u de ingesloten code plakken voor de video die u wilt toevoegen.
                  </p>
                  <div class="form">
                      <input class="form-control" placeholder="E-mail komt hier">
                      <button class="btn custom-btn">Indienen</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p>Copyright &copy; <a href="#">Snelbezorgd</a></p>
      </div>
  </div>
</div>
<!-- Footer End -->
