


<!-- Contact Start -->
<div class="contact">
  <div class="container">
      <div class="section-header text-center">
          <h2>Contact voor elke vraag</h2>
      </div>
      <div class="row align-items-center contact-information">
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Adres</h3>
                      <p>Restaurantstraat 8, 1825KV, NL</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Bel ons</h3>
                      <p>+012 345 6789</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Email ons</h3>
                      <p>info@example.com</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fa fa-share"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Volg ons</h3>
                      <div class="contact-social">
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-youtube"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row contact-form">

          <!-- <div class="col-md-6 ">
            <ngx-spinner [name] = "spinnerName" [type]= "spinnerType"></ngx-spinner>
              <iframe src="https://maps.google.com/maps?q=alkmaar%20restaurant&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">

              </iframe>

          </div> -->
          <app-googlemap></app-googlemap>
          <div class="col-md-6">
              <div id="success"></div>
              <form name="sentMessage" id="contactForm" novalidate="novalidate">
                  <div class="control-group">
                      <input type="text" class="form-control" id="name" placeholder="Uw naam" required="required" data-validation-required-message="Please enter Uw naam" />
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <input type="email" class="form-control" id="email" placeholder="Uw email" required="required" data-validation-required-message="Please enter your email" />
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <input type="text" class="form-control" id="subject" placeholder="Onderwerp" required="required" data-validation-required-message="Please enter a subject" />
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <textarea class="form-control" id="message" placeholder="Bericht" required="required" data-validation-required-message="Please enter your message"></textarea>
                      <p class="help-block text-danger"></p>
                  </div>
                  <div>
                      <button class="btn custom-btn" type="submit" id="sendMessageButton">versturen</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Contact End -->



