<!-- <ng-container *ngIf="products.length !=0"> -->

  <div class="container" *ngIf="getCartDetails.length > 0">
    <div class="row">
      <div class="col">
        <h1 class="text-center text-info p-4">Winkelwagen</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col">
        <div>
          <table class="table table-striped text-center font-weight-bold">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">P.N</th>
                <th scope="col">Prijs</th>
                <th scope="col">Aantal</th>
                <th scope="col">S.T</th>
                <th scope="col">Item verwijderen</th>
              </tr>
            </thead>
            <tbody class="text-secondary ">
              <tr *ngFor="let getCartDetail of getCartDetails" >
                <td class="align-middle"><img [src]="getCartDetail.productImageUrl" class=" w-25 rounded-circle"
                    alt="Image"></td>
                <td class="align-middle">{{getCartDetail.name}}</td>
                <td class="align-middle"> {{getCartDetail.prijs | currency:'EUR':true}}</td>
                <td class="align-middle">
                  <button class="btn btn-light d-inline border-secondary"
                    (click)="incQnt(getCartDetail.id, getCartDetail.qnt)"><i class="fas fa-plus  text-secondary"></i>
                  </button>
                  <p class="p-2 d-inline">{{getCartDetail.qnt}}</p>
                  <button class="btn btn-light d-inline border-secondary"
                    (click)="decQnt(getCartDetail.id, getCartDetail.qnt)"><i
                      class="fas fa-minus text-secondary"></i></button>
                </td>
                <td class="align-middle">{{getCartDetail.qnt * getCartDetail.prijs | currency:'EUR':true}}</td>
                <td class="align-middle">
                  <button class=" border-0 btn btn-outline-secondary" (click)="singleDelete(getCartDetail.id)"><i
                      class="fas fa-trash-alt fa-2x text-danger "></i></button>
                </td>

              </tr>
            </tbody>
            <tbody class="text-secondary ">
              <tr>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle">Totaal: {{totaal | currency:'EUR':true}}</td>
                <td class="align-middle"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col p-2 text-secondary">
        <p>Promotie codes <input class="form-control w-50"  /></p>
        <p>Bestel je voor €35 of meer? Dan is de bezorging gratis!</p>
        <h1 class="text-info">Bezorgkosten €{{BezorgdKosten}} </h1>
        <h1>Totaal inclu bezorging {{totaal + BezorgdKosten | currency:'EUR':true}} </h1>
      </div>
      <div class="col">
        <button class="btn btn-light bg-danger text-white  border-secondary float-right m-2" (click)="removeAll()"><i
            class="fas fa-trash-alt text-white"></i> Verwijderen Alles</button>
            <button routerLink="/kassabon" class="btn btn-dark float-right m-2"><i class="fas fa-file-invoice-dollar"></i> Kassabon</button>

      </div>
    </div>
  </div>
  <!---------------------------------------------------------->
  <div class="container text-center" *ngIf="getCartDetails == 0" >
    <div class="row p-4">
      <div class="col pt-3">
        <!-- <img class="text-center img-thumbnail w-25"
          src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
          alt=""> -->
          <i class="fas fa-cart-plus text-secondary fa-8x"></i>
      </div>
    </div>
    <div class="row  p-2">
      <div class="col text-info">
        <h1>Uw winkelwagen is leeg!</h1>
        <h1>Voeg er nu een item aan toe</h1>
        <button routerLink="/restaurants" class="btn btn-warning">Bestel nu</button>
      </div>
    </div>
  </div>




<!-- <ng-container *ngIf="products.length ==0"> -->

