<div class="card-header">
  <button class="btn btn-outline-dark" (click)='onBack()'>
    <i class="fa fa-chevron-left"></i> Back
  </button>
</div>
<div class="container-fluid">
  <div class="row border border-info m-2 rounded p-2">
    <div class="col text-center">
      <img [src]="restaurant.restaurantImageUrl" class="rounded-circle" style="height: 150px;" alt="...">

      <div class="row align-items-center  ">
        <div class="col text-left text-dark p-3">
          <h2>{{ restaurant.starRating }}</h2>
          <i class="fas fa-star fa-2x"></i>
          <i class="fas fa-star fa-2x"></i>
          <i class="fas fa-star fa-2x"></i>
          <i class="fas fa-star fa-2x"></i>
        </div>
        <div class="col text-center p-3">
          <h1>{{restaurant.restaurantName}}</h1>
        </div>
        <div class="col text-right p-3">
          <div class="heart" *ngIf="!restaurant.favoriet">
            <i class="fas fa-heart text-dark fa-3x"></i>
          </div>
          <div class="heart" *ngIf=" restaurant.favoriet">
            <i class="fas fa-heart fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h1>Heerlijk Eten Menu</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ngb-accordion  class="container"[closeOthers]="true">
  <ngb-panel title="{{cat.catName}}"  *ngFor="let cat of restaurant.cat">
    <ng-template ngbPanelContent>
      <div class="row mt-3" *ngFor="let product of cat.producten ">
               <div class="col-2 mb-3  text-center">
            <img [src]="product.productImageUrl" class="imgA rounded-circle w-50" alt="Image">
          </div>
          <div class="menu-textA col text-center">
            <h3 class="text-left">{{product.name}}<strong class="d-inline text-secondary">€{{product.prijs}}</strong></h3>
            <div class="text-left d-block bg-light">
              <p>{{product.omschrijven}}</p>
            </div>
          </div>
          <div class="col text-center">
            <button class="btn btn-warning d-inline" (click)="ins(product)"><i class="fas fa-plus"></i></button>
            <p class="p-3  d-inline">{{product.qnt}}</p>
            <button class="btn btn-warning d-inline" (click)="dec(product)"><i class="fas fa-minus"></i></button>
            <input class="btn btn-warning p-2 ml-3" type="button" (click)="addtocart(product)" value="toevoegen" />
          </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->

<div class="container">
  <div class="row">
    <div class="col ">
      <input type="text" [(ngModel)]='listFilter'/>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row menu border border-info m-2 rounded p-2 ">
    <div class="col-9 font-weight-bold">

      <div class="row ">
        <button class="btn btn-outline-dark m-2" (click)='allValue()'>Alle</button>
        <div class="col " *ngFor="let cat of restaurant.cat ">
          <button class="btn btn-outline-dark m-2 " (click)='CategoryValue()'>{{cat.catName}}</button>
        </div>
      </div>

      <div class="menu-tab   border border-secondary-25 m-2 rounded  shadow-sm  p-3 mb-5 bg-body rounded"
        *ngFor="let cat of restaurant.cat " >
        <div class="row align-middle">
          <div class="col text-secondary p-2 text-center font-weight-bold">

            <h2>{{cat.catName}}</h2>
          </div>
        </div>
        <div class="row " *ngFor="let product of cat.producten ">
          <div class="col-2 mb-3  text-center">
            <img [src]="product.productImageUrl" class=" rounded-circle w-50" alt="Image">
          </div>
          <div class="menu-text col text-center">
            <h3 class="text-left">{{product.name}}<strong class="d-inline">{{product.prijs | currency:'EUR':true}}</strong></h3>
            <div class="text-left d-block">
              <p>{{product.omschrijven}}</p>
            </div>
            <div class="d-block">
              <h2>{{product.category}}</h2>
            </div>
          </div>
          <div class="col text-center">
            <button class="btn btn-warning d-inline shadow" (click)="ins(product)"><i class="fas fa-plus"></i></button>
            <p class="p-3  d-inline">{{product.qnt}}</p>
            <button class="btn btn-warning d-inline shadow" (click)="dec(product)"><i class="fas fa-minus"></i></button>
            <input class="btn btn-warning p-2 ml-3 shadow  " type="button" (click)="addtocart(product)"
              value="toevoegen" />
          </div>
          <!-- <div class="col text-center mb-3">
            <img class="rounded w-75 border-secondary" [src]="cat.sideImageUrl" alt="Image">
          </div> -->
        </div>
      </div>
    </div>

    <!-- Sidebare -->
    <div class="col border border-secondary-50 rounded p-2">
      <div class="text-left text-dark ml-3 p-3" *ngFor="let open of restaurant.openingstijden">
        <h1>Openingstijden</h1>
        <p><i class="fas fa-store-alt text-success p-1"></i> Maandag: {{open.maandag}}</p>
        <p><i class="fas fa-store-alt text-success p-1"></i> Dinsdag: {{open.dinsdag}}</p>
        <p><i class="fas fa-store-alt text-success p-1"></i>Woensdag: {{open.woensdag}}</p>
        <p><i class="fas fa-store-alt text-success p-1"></i> Donderdag: {{open.donderdag}}</p>
        <p><i class="fas fa-store-alt text-success p-1"></i> Vrijdag: {{open.vrijdag}}</p>
        <p><i class="fas fa-store-alt text-success p-1"></i> Zaterdag: {{open.zaterdag}}</p>
        <p><i class="fas fa-store-alt-slash text-danger p-1" text-danger></i> Zondag: {{open.zondag}}</p>
      </div>

      <div class="text-left text-dark ml-3 p-3" *ngFor="let contact of restaurant.contact">
        <h1>Contact</h1>
        <p><i class="fas fa-envelope text-primary"></i> Email: {{contact.email}}</p>
        <p><i class="fas fa-phone-alt text-primary"></i> Telefoonnummer: 0{{contact.phone}}</p>
        <h1 class="pt-3">Adres</h1>
        <p><i class="fas fa-map-marker-alt text-warning"></i> Postcode: {{contact.postcode}}</p>
        <p><i class="fas fa-location-arrow text-warning"></i> Straat: {{contact.straat}}</p>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col">
       <input type="text" [(ngModel)]='listFilter'/>
    </div>
  </div>
  <div class="row"  *ngFor="let cat of restaurant.cat ">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Naam</th>
            <th scope="col">Prijs</th>
            <th scope="col">Category</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let product of cat.producten">
            <td >{{product.name}}</td>
            <td >{{product.prijs}}</td>
            <td >{{product.category}}</td>
            <td >{{product.productImageUrl}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

