<div class="card">
  <div class="card-header">
    <button class="btn btn-outline-dark" (click)='onBack()'>
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="card mb-lg-4">
        <img src="assets\Restaurant_Insurance_Cover-1032x502.png.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <img [src]="restaurant.restaurantImageUrl" class="rounded mx-auto d-block" /> -->
          <a href="#!">
            <div class="mask text-center">
              <img [src]="restaurant.restaurantImageUrl" class=" rounded-circle "
                style="height: 150px;margin-top: -70px;border: solid 3px #fff;" alt="...">
            </div>
          </a>
          <div class="row align-items-center">
            <div class="col text-left text-dark p-3">
              <h2>{{ restaurant.starRating }}</h2>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
            </div>
            <div class="col text-right p-3">
              <!-- <p>{{ restaurant.favoriet}}</p> -->
              <div class="heart" *ngIf="!restaurant.favoriet">
                <i class="fas fa-heart-broken fa-3x"></i>
              </div>
              <div class="heart" *ngIf=" restaurant.favoriet">
                <i class="fas fa-heart fa-3x"></i>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col text-left text-info p-3">
              <h1></h1>
            </div>
            <div class="col text-center text-dark p-3">
              <h1>{{ restaurant.restaurantName }}</h1>
            </div>
            <div class="col text-right text-info p-3">
              <h2>{{ restaurant.categories}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-dark" (click)='onBack()'>
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>








