<div class="card">
  <!-- <div class="card-header">
    <h1 class="text-info text-center">Restaurant List</h1>
  </div> -->
  <div class="card-body">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3 row-cols-sm-1">
        <div *ngFor="let restaurant of restaurants">
          <div class="col">
            <div class="box p-2 border border-1 rounded">
              <img [src]="restaurant.restaurantImageUrl" class="img-fluid" />
              <h3 class="card-title text-center p-2">{{ restaurant.restaurantName }}
                <div class="heart" *ngIf="!restaurant.favoriet">
                  <i class="fas fa-heart-broken"></i>
                </div>
                <div class="heart" *ngIf=" restaurant.favoriet">
                  <i class="fas fa-heart"></i>
                </div>
              </h3>
              <p class="card-categories text-center">
                {{ restaurant.categories }}
              </p>
              <p class="card-text">
                <i class="fas fa-clock "></i>
                {{ restaurant.tijdBezorgd }}
                minuten
              </p>
              <p class="card-text">
                <i class="fas fa-euro-sign"></i>
                {{ restaurant.minBestellen }}
                min bestellen
              </p>
              <p class="card-text">
                <i class="fas fa-biking"></i>
                €
                {{ restaurant.bezorgdKosten }}
                bezorgd kosten
              </p>
              <p class="card-text">
                <i class="fas fa-star"></i>
                {{ restaurant.starRating }}
                ( 2132 )
              </p>
              <a class="btn btn-primary" mat-list-item href="#" routerLink="/restaurants/{{restaurant.id}}"
                routerLinkActive="active">{{restaurant.id}} Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h1 class="text-info text-center">Footer</h1>
  </div>
</div>
