<div id="print-section" class="container mt-5" *ngIf="getCartDetails.length > 0">
  <div class="row ">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row p-5">
            <div class="col-md-6">
              <h1 class="logo">SnelBezorgd</h1>
              <img src="assets/R.png" height="100" alt="CoolBrand">
            </div>

            <div class="col-md-6 text-right">
              <p class="font-weight-bold mb-1">Factuur {{random}}</p>
              <p class="text-muted">{{time | date :'long'}}</p>


            </div>
          </div>

          <hr class="my-5">

          <div class="row pb-5 p-5">
            <div class="col-md-6">
              <p class="font-weight-bold mb-4">Klanteninformatie</p>
              <p class="mb-1">Spadestraat 4</p>
              <p class="mb-1">Alkmaar, Nederland</p>
              <p class="mb-1">6781 SP</p>
            </div>

            <div class="col-md-6 text-right">
              <p class="font-weight-bold mb-4">Betalingsdetails</p>
              <p class="mb-1"><span class="text-muted">VAT: </span> 1425782</p>
              <p class="mb-1"><span class="text-muted">VAT ID: </span> 10253642</p>
              <p class="mb-1"><span class="text-muted">Betaling Type: </span> ING</p>
              <p class="mb-1"><span class="text-muted">Name: </span> T Al Ashraf</p>
            </div>
          </div>

          <div class="row p-5">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 text-uppercase small font-weight-bold ">ID</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Aantal</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Prijs</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Totaal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let getCartDetail of getCartDetails">
                    <td>{{getCartDetail.id}}</td>
                    <td>{{getCartDetail.name}}</td>
                    <td>{{getCartDetail.qnt}}</td>
                    <td>€{{getCartDetail.prijs}}</td>
                    <td>€{{getCartDetail.qnt * getCartDetail.prijs | number}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="d-flex flex-row-reverse bg-dark text-white p-4">
            <div class="py-3 px-5 text-right">
              <div class="mb-2">Totaal incl BK</div>
              <div class="h2 font-weight-light">{{totaal + BezorgdKosten}}</div>
            </div>

            <div class="py-3 px-5 text-right">
              <div class="mb-2">korting</div>
              <div class="h2 font-weight-light">0</div>
            </div>

            <div class="py-3 px-5 text-right">
              <div class="mb-2">Bezor Kosten</div>
              <div class="h2 font-weight-light">{{BezorgdKosten}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container text-center" *ngIf="getCartDetails == 0">
  <div class="row p-4">
    <div class="col pt-3">
      <!-- <img class="text-center img-thumbnail w-25"
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt=""> -->
      <i class="fas fa-cart-plus text-secondary fa-8x"></i>
    </div>
  </div>
  <div class="row  p-2">
    <div class="col text-info">
      <h1>Uw winkelwagen is leeg!</h1>
      <h1>Voeg er nu een item aan toe</h1>
      <button routerLink="/restaurants" class="btn btn-warning">Bestel nu</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-warning" printSectionId="print-section" ngxPrint (click)="removeAll()">
        Print
      </button>
    </div>
  </div>
</div>
